@import "../../../styles/vars";

.posts {
  height: calc(100vh - #{$header-height});
  display: flex;

  &__tree,
  &__criteria {
    width: 25%;
    @include layout();
  }

  &__display {
    width: 50%;
    @include layout();
  }

}
