@import "../../../styles/vars";

@mixin layout {
  margin: .5rem;
  border: 1px solid black;  
  border-radius: .25rem;
}

.posts {
  height: calc(100vh - #{$header-height});
  display: flex;

  &__tree,
  &__criteria {
    width: 25%;
    @include layout();
  }

  &__display {
    width: 50%;
    @include layout();
  }

}
