.grouping-selector {
  &__title {
    text-align: center;
    background: lightgray;
    height: 2rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  &__criteria {
    padding: 0 .5rem;
  }

  &__criteria-element {
    margin: .25rem;
    padding-left: 1rem;

    &--selected {
      background: lightblue;
    }
  }
}
