@import "../../../styles/vars";

.grouping-selector {
  &__title {
    @include sectionTitle();
  }

  &__criteria {
    padding: 0 0.5rem;
  }

  &__criteria-element {
    margin: 0.25rem;
    padding-left: 1rem;

    &--selected {
      background: lightblue;
      color: white;
    }
  }
}
